.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.loading-wrapper,
.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.loading-wrapper > p {
  font-size: 1.7rem;
  font-weight: bold;
}

.spinner {
  width: 40px;
  height: 40px;
  padding: 1rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-width: 0.15rem;
  border-radius: 100%;
  animation: spinner-animation 1s linear 0s infinite none;
}

.product-card {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-card button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.input-buttons {
  display: flex;
  justify-content: space-between;
}

.input-buttons input {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.product-name {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 150px;
  aspect-ratio: 1 / 1;
}

.image-wrapper {
  display: grid;
  place-items: center;
}

.price-add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #007a13;
}

.no-products-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-products-found > h1 {
  font-size: 3.25rem;
}

.no-products-found > p {
  font-size: 1.35rem;
  font-weight: 500;
}

@keyframes spinner-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
