.white-color {
  color: #303030;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

ul {
  display: flex;
  gap: 2.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}
