.banner-section {
  height: 100%;
}

section > div > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 100%;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem;
  gap: 1.5rem;
}

.grid-section-card {
  display: grid;
  place-items: center;
  border: 1px solid black;
  padding: 1rem;
  gap: 0.5rem;
}

.banner-section {
  position: relative;
}

.absolute-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.absolute-section-inner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.absolute-section-inner-content > h1 {
  font-size: 4rem;
}

.learn-more-wrapper > button {
  color: #fff;
  border: 3px solid #fff;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0.75rem 2rem;
  font-size: 1.3rem;
}

.paragraph {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

footer {
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
